@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin indentations($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin respond-to($media) {
  @if $media == wide-screens {
    @media (min-width: 1367px) { @content; }
  }
  @else if $media == standart-screens {
    @media (max-width: 1220px) { @content; }
  }
  @else if $media == medium-screens {
    @media (max-width: 1024px) { @content; }
  }
  @else if $media == small-screens {
    @media (max-width: 800px) { @content; }
  }
}
