@import '../helpers/variables';
@import '../helpers/mixins';

.decor_center {
  @include dimensions(50%, auto);
  max-width: 1200px;
  @include indentations(1em auto 0 auto, 0);
  @include respond-to('max-width: 800px') {
    width: 80%;
  }

  a {
    cursor: default;
  }
}
