@import '../helpers/variables';
@import '../helpers/mixins';

.decor_main {
  @include dimensions(100% !important, 100% !important);

  .decor_main-corner {
    @include dimensions(10% !important, auto !important);
    @include indentations(0 !important, 0 !important);
    position: absolute !important;
    z-index: -1 !important;
    cursor: default !important;
    @include respond-to('max-width: 800px') {
      width: 12% !important;
    }
    @include respond-to('max-width: 640px') {
      display: none;
    }

    img {
      margin: 0 !important;
    }
  }

  .corner-one {
    top: 0.5em;
    left: 0.5em;
  }

  .corner-two {
    top: 0.5em;
    right: 0.5em;
  }

  .corner-three {
    bottom: 0.5em;
    right: 0.5em;
  }

  .corner-four {
    bottom: 0.5em;
    left: 0.5em;
  }
}
