@import '../helpers/variables';
@import '../helpers/mixins';

.decor_main {
  @include dimensions(100%, 100%);

  .decor_main-corner {
    @include dimensions(10%, auto);
    @include indentations(0, 0);
    position: absolute;
    z-index: -1;
    cursor: default;
    @include respond-to('max-width: 800px') {
      width: 12%;
    }
    @include respond-to('max-width: 640px') {
      display: none;
    }

    img {
      margin: 0;
    }
  }

  .corner_one {
    top: 0.5em;
    left: 0.5em;
  }

  .corner_two {
    top: 0.5em;
    right: 0.5em;
  }

  .corner_three {
    bottom: 0.5em;
    right: 0.5em;
  }

  .corner_four {
    bottom: 0.5em;
    left: 0.5em;
  }
}
