@import '../helpers/variables';
@import '../helpers/mixins';

.decor-center {
  @include dimensions(50%, auto);
  @include indentations(0 auto, 0);
  max-width: 1200px;
  position: relative;
  top: 1em;
  @include respond-to('max-width: 800px') {
    width: 80%;
  }
  @include respond-to('max-width: 640px') {
    width: 90%;
  }

  img {
    width: 100%;
  }
}
