@import '../helpers/variables';
@import '../helpers/mixins';

.decor-main {
  @include dimensions(100%, 100%);

  .corner {
    @include dimensions(8%, auto);
    margin: 0;
    position: absolute;
    z-index: -1;
    @include respond-to('max-width: 800px') {
      width: 12%;
    }
    @include respond-to('max-width: 640px') {
      display: none;
    }
  }

  .corner-one {
    left: 0.5em;
    top: 0.5em;
  }

  .corner-two {
    right: 0.5em;
    top: 0.5em;
  }

  .corner-three {
    bottom: 0.2em;
    right: 0.5em;
  }

  .corner-four {
    bottom: 0.2em;
    left: 0.5em;
  }
}
