@import '../helpers/variables';
@import '../helpers/mixins';

.stack-of-books {
  @include dimensions(12%, auto);
  bottom: 7em;
  max-width: 10em;
  position: absolute;
  right: 1.3em;

  @include respond-to('max-width: 1366px') {
    right: 1.1em;
    width: 10%;
  }

  @include respond-to('max-width: 1024px') {
    bottom: 11.5em;
    right: 1em;
    width: 15%;
  }

  @include respond-to('max-width: 800px') {
    display: none;
  }

  img {
    @include dimensions(100%, 100%);
  }
}
