@import '../helpers/variables';
@import '../helpers/mixins';

.decor-top {
  @include dimensions(9.5em, 6.5em);
  @include indentations(0, 1.3em 0 0 0);
  box-sizing: border-box;
  position: absolute;
  right: 1em;
  top: 0;
  z-index: 6;
  @include respond-to('max-width: 800px') {
    @include dimensions(auto, 4em);
    box-sizing: border-box;
    left: 0;
    padding: 0.25em 0 0 1em;
    right: 4.5em;
    top: 0;
    z-index: 10;
  }

  .date {
    @include dimensions(100%, 3em);
    @include indentations(0 auto, 0);
    font-size: 1.2em;
    position: relative;
    @include respond-to('max-width: 800px') {
      @include dimensions(10em, 100%);
      @include indentations(0, 0.25em 0 0 0);
      box-sizing: border-box;
      left: 5em;
    }
    @include respond-to('max-width: 640px') {
      left: 3.7em;
    }

    .date-dayOfTheWeek {
      display: inline-block;
      padding-left: 0.08em;
      width: 65%;
    }

    .date-day {
      float: left;
      font: {
        size: 2em;
        weight: bold;
      }
      padding: 0.17em 0.1em 0 0;
      position: relative;
    }

    .date-month {
      display: inline-block;
      padding: 0 0.2em 0 0.1em;
    }
  }

  .pic {
    @include dimensions(7em, auto);
    bottom: -2em;
    left: 0.5em;
    position: absolute;
    @include respond-to('max-width: 800px') {
      bottom: 0.2em;
      box-sizing: border-box;
      left: 0.3em;
      width: 6em;
    }
    @include respond-to('max-width: 640px') {
      bottom: 0.6em;
      width: 4.5em;
    }
  }
}
