@import '../helpers/variables';
@import '../helpers/mixins';

table {
  width: 100%;
  margin: 0 auto 1.5em auto;
}

table, th, td {
  border: $simple-border;
  border-collapse: collapse;
}

th, td {
  @include indentations(0, 1em);
  text-align: center;
  @include respond-to('max-width: 640px') {
    padding: 0.5em 0;
  }
}
