@import '../helpers/variables';
@import '../helpers/mixins';

table {
  margin: 0 auto 1.5em auto;
  width: 100%;

  thead,
  tbody {
    @include respond-to('max-width: 800px') {
      display: table;
      width: 100%;
    }
  }

  thead {
    @include respond-to('max-width: 800px') {
      margin-bottom: 0.3em;
    }
  }

  tbody {
    tr {
      @include respond-to('max-width: 800px') {
        display: block;
        margin: 0.5em 0;
      }

      td:first-child {
        @include respond-to('max-width: 800px') {
          font-weight: bold;
        }
      }
    }
  }

  th:last-child,
  td:last-child {
    border-bottom: $simple-border;
  }

  th, td {
    @include indentations(0, 1em);
    border: $simple-border;
    text-align: center;

    @include respond-to('max-width: 800px') {
      border-bottom: none;
      border-left: $simple-border;
      border-right: $simple-border;
      border-top: $simple-border;
      box-sizing: border-box;
      display: block;
      width: 100%;
    }
  }
}

table, th, td {
  border-collapse: collapse;
}
