@import 'helpers/variables';
@import 'helpers/mixins';

footer {
  @include dimensions(100%, 6em);
  @include indentations(0, 1em);
  box-sizing: border-box;
  background-color: oldlace;
  border-top: $simple-border;
  position: absolute;
  bottom: 0;
  @include respond-to('max-width: 800px') {
    height: 7.5em;
  }
  @include respond-to('max-width: 640px') {
    height: 9.5em;
  }

  p {
    @include respond-to('max-width: 800px') {
      @include dimensions(100%, auto);
      text-align: center;
    }
  }

  .copyright {
    @include indentations(0, 1.5em 0);
    float: left;
    @include respond-to('max-width: 800px') {
      padding: 0.5em 0;
    }

    a {
      width: auto;
      text-decoration: none;
    }
  }

  .address {
    @include dimensions(20em, auto);
    @include indentations(0, 1em 0);
    text-align: center;
    float: right;
    @include respond-to('max-width: 800px') {
      @include dimensions(100%, auto);
      padding: 0.5em 0;
    }

    span {
      font-weight: bold;
    }
  }
}
