@import 'helpers/variables';
@import 'helpers/mixins';
@import url('https://fonts.googleapis.com/css?family=Oranienbaum');

html, body, .container {
  @include dimensions(100%, 100%);
  @include indentations(0, 0);
}

body * {
  outline-color: #C56757;
}

body {
  color: $dark-brown;
  font-family: 'Oranienbaum', serif;
  font-size: 1em;
  line-height: 1.2;
  background-color: peachpuff;

  a {
    @include dimensions(100%, 100%);
    display: inline-block;
    color: $dark-brown;

    img {
      @include dimensions(100%, 100%);
    }
  }

  img {
    border: none;
  }

  .closed {
    display: none;
  }

  .opened {
    display: block;
  }

  .container {
    height: auto;
    min-height: 100%;
    background: linear-gradient(to right, peachpuff, burlywood);
    position: relative;
    overflow: hidden;

    .main {
      @include dimensions(100%, auto);
      @include indentations(0, 1em);
      box-sizing: border-box;
      position: relative;
      @include respond-to('max-width: 640px') {
        margin-bottom: 2em;
        padding: 0.5em 0.2em;
      }

      ul, ol {
        @include indentations(1.5em 0, 0 5em);
        text-align: left;
        @include respond-to('max-width: 1024px') {
          padding: 0 2em;
        }
        @include respond-to('max-width: 640px') {
          padding: 0 1em;
        }
      }

      .page_events.page_events_poster {
        @include respond-to('max-width: 640px') {
          @include indentations(1em auto, 1em 0);
          overflow-x: scroll;
        }
      }

      .page_events.page_events_poster-ot-vsej-dushi {
        @include respond-to('max-width: 800px') {
          height: auto;
        }

        div {
          height: 3em;
          @include respond-to('max-width: 800px') {
            height: auto;
            margin-bottom: 1em;
          }
        }
      }

      .page_events.page_events_poster-biblionik {
        div {
          height: 11em;
          @include respond-to('max-width: 800px') {
            height: auto;
            margin-bottom: 1em;
          }
        }
      }

      .page_events.page_events_past-events {
        @include respond-to('max-width: 640px') {
          @include indentations(1em auto, 1em 0);
          overflow-x: scroll;
        }
      }

      // services
      .page_services {
        a {
          @include dimensions(100%, auto);
        }
      }

      .page_services.page_services_useful-links {
        text-align: left;

        a {
          @include indentations(0.2em 0.5em, 0);
          @include respond-to('max-width: 640px') {
            margin: 0.2em 0;
          }
        }
      }

      .page_services.page_services_price-list {
        @include respond-to('max-width: 640px') {
          @include indentations(1em auto, 1em 0);
          overflow-x: scroll;
        }
      }

      // site map
      .page_site-map {
        text-align: left;

        div {
          @include dimensions(100%, auto);
          margin-bottom: 1em;
          @include respond-to('max-width: 800px') {
            margin-bottom: 1.5em;
          }

          p {
            margin: 0.5em 0;
          }

          ul {
            @include indentations(0, 0 2em);
          }
        }
      }

      // not found page
      .page_not-found-page {
        text-align: center;

        p a {
          width: auto;
        }
      }
    }

    #arrow-up {
      @include dimensions(auto, auto);
      @include indentations(0 0 0 1em, 0);
      text-decoration: none;
      font-weight: bold;
      position: relative;
      bottom: 0;
      z-index: 1;
      @include respond-to('max-width: 800px') {
        margin: 1em;
        position: absolute;
        right: 0;
      }
      @include respond-to('max-width: 640px') {
        bottom: -1.5em;
      }

      span {
        font-size: 1.5em;
      }
    }

    .empty {
      @include dimensions(100%, 6em);
      @include respond-to('max-width: 800px') {
        height: 7.5em;
      }
      @include respond-to('max-width: 640px') {
        height: 9.5em;
      }
    }
  }
}
