@import 'helper/variables';
@import 'helper/mixins';

html, body, .container {
  @include dimensions(100%, 100%);
  @include indentations(0, 0);
}

body {
  background-color: $white;
  a {
    @include dimensions(100%, 100%);
    text-decoration: none;
    outline: none;
    display: inline-block;
    img {
      @include dimensions(100%, 100%);
    }
  }

  .container {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    header {
      @include dimensions(100%, 17em);
      .site-title {
        @include indentations(0, 1em);
      }

      .navbar {
        @include dimensions(100%, 10em);
        text-align: center;
        .navbar-section {
          @include dimensions(15em, auto);
          @include indentations(0, 0);
          display: inline-block;
          vertical-align: top;
          .section-title {
            border: $simple-border;
            @include indentations(0, 0.5em);
            cursor: pointer;
          }
          .section-links {
            @include indentations(0, 0);
            display: none;
            a {
              border: $simple-border;
              box-sizing: border-box;
              li {
                @include indentations(0, 0.5em);
                list-style-type: none;
              }
            }
          }
        }
      }
    }

    main {
      @include dimensions(100%, auto);
      @include indentations(0, 0 1em);
      box-sizing: border-box;
      .about-library, .news-and-events, .services {
        @include dimensions(50%, auto);
        @include indentations(0 auto, 0);
        h2 {
          @include indentations(1em 0 2em 0, 0);
          text-align: center;
        }
      }
      .library-schedule {
        @include dimensions(30em, auto);
        text-align: center;
        p {
          @include dimensions(100%, 1.2em);
          .schedule-days {
            float: left;
            clear: right;
          }
          .schedule-time {
            float: right;
          }
        }
      }
      .news-and-events {
        div {
          @include dimensions(100%, 8.5em);
          p {
            @include dimensions(auto, 1.2em);
            @include indentations(0.3em 0, 0);
          }
          .poster-dates {
            text-align: left;
            float: left;
          }
          .poster-events {
            text-align: right;
            float: right;
            clear: right;
          }
        }
      }
      .poster-biblionik {
        ul {
          @include indentations(2em 0, 0 5em);
        }
      }
    }
  }
}
