@import 'helper/variables';
@import 'helper/mixins';
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p|Tenor+Sans');

html, body, .container {
  @include dimensions(100%, 100%);
  @include indentations(0, 0);
}

body {
  // font-family: 'M PLUS 1p', sans-serif;
  background-color: white;
  a {
    @include dimensions(100%, 100%);
    color: black;
    outline: none;
    display: inline-block;
    img {
      @include dimensions(100%, 100%);
    }
  }
  .container {
    background: linear-gradient(to right, peachpuff, burlywood);
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    header {
      @include dimensions(100%, auto);
      .site-title {
        @include indentations(0, 1em);
        // font-family: 'Tenor Sans', sans-serif;
      }
      .navbar {
        @include dimensions(100%, 3.3em);
        @include indentations(0 auto, 0);
        text-align: center;
        background: linear-gradient(to right, peachpuff, burlywood);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        position: relative;
        bottom: 0;
        left: 0;
        z-index: 1;
        .navbar-section {
          @include dimensions(15em, auto);
          @include indentations(0, 0);
          background-color: oldlace;
          vertical-align: top;
          @include respond-to(wide-screens) {
            @include dimensions(20%, auto);
          }
          .section-title {
            @include indentations(0, 1.05em 0.5em);
            color: saddlebrown;
            border: $simple-border;
            cursor: pointer;
          }
          .section-links {
            @include indentations(0, 0);
            background-color: oldlace;
            border: $simple-border;
            display: none;
            a {
              box-sizing: border-box;
              color: saddlebrown;
              border: $simple-border;
              text-decoration: none;
              li {
                @include indentations(0, 0.7em);
                list-style-type: none;
              }
            }
          }
        }
      }
    }
    // #header-index {
    //   min-height: 100%;
    //   background: url(images/SDC12945.JPG) 0 30%/cover no-repeat;
    // }

    main {
      @include dimensions(100%, auto);
      @include indentations(0, 1em);
      box-sizing: border-box;
      h2 {
        @include indentations(0.5em 0 1em 0, 0);
        text-align: center;
      }
      .news, .about-library, .news-and-events, .services {
        @include dimensions(60em, auto);
        @include indentations(1em auto, 1em);
        box-sizing: border-box;
        text-align: justify;
        background-color: oldlace;
        @include respond-to(wide-screens) {
          @include dimensions(50em, auto);
        }
        @include respond-to(medium-screens) {
          @include dimensions(45em, auto);
        }
        @include respond-to(small-screens) {
          @include dimensions(100%, auto);
        }
        img {
          @include dimensions(100%, auto);
          @include indentations(0.3em 0, 0);
        }
      }

      .about-library {

      }
      .library-schedule {
        height: 40em;
        text-align: center;
        p {
          @include dimensions(100%, 1.2em);
        }
        .schedule-days {
          float: left;
          clear: right;
        }
        .schedule-time {
          float: right;
        }
      }

      .news-and-events {
        div {
          p {
            @include dimensions(auto, 1.2em);
            @include indentations(0.3em 0, 0);
          }
          .poster-dates {
            @include dimensions(25%, auto);
            text-align: left;
            float: left;
          }
          .poster-events {
            @include dimensions(75%, auto);
            text-align: left;
            float: right;
          }
        }
      }
      .poster {
        div {
          @include dimensions(100%, 6.5em);
        }
      }
      .poster-ot-vsej-dushi {
        height: 40em;
        div {
          @include dimensions(100%, 3em);
        }
      }
      .poster-biblionik {
        ul {
          @include indentations(2em 0, 0 5em);
        }
        div {
          @include dimensions(100%, 11em);
        }
      }

      .services {

      }
      .safe-internet {
        a {
          @include dimensions(auto, auto);
        }
      }
      .price-list {
        table, th, td {
          border: $simple-border;
          border-collapse: collapse;
        }
        th, td {
          padding: 1em;
          text-align: center;
        }
        .td-title {
          font-weight: bold;
        }
      }
    }

    footer {
      @include dimensions(100%, 5em);
      @include indentations(0, 1em);
      box-sizing: border-box;
      background-color: oldlace;
      border-top: $simple-border;
      .copyright {
        @include indentations(0, 1em 0);
        float: left;
      }
    }
  }
}
