@import 'helper/variables';
@import 'helper/mixins';

html, body, .container {
  @include dimensions(100%, 100%);
  @include indentations(0, 0);
}

body {
  background-color: $white;
  a {
    @include dimensions(100%, 100%);
    text-decoration: none;
    outline: none;
    display: inline-block;
    img {
      @include dimensions(100%, 100%);
    }
  }

  .container {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    .navbar {
      @include dimensions(100%, 10em);
      text-align: center;
      .navbar-section {
        @include dimensions(15em, auto);
        @include indentations(0, 0);
        display: inline-block;
        vertical-align: top;
        .section-title {
          border: $simple-border;
          @include indentations(0, 0.5em);
          cursor: pointer;
        }
        .section-links {
          @include indentations(0, 0);
          display: none;
          a {
            border: $simple-border;
            box-sizing: border-box;
            li {
              @include indentations(0, 0.5em);
              list-style-type: none;
            }
          }
        }
      }
    }

    main {
      @include dimensions(100%, auto);
      @include indentations(0, 0 1em);
      box-sizing: border-box;
      .about-library {
        @include dimensions(50%, auto);
        @include indentations(0 auto, 0);
        h2 {
          text-align: center;
        }
      }
      .rezhim-raboty-biblioteki {
        @include dimensions(30em, auto);
        text-align: center;
        p {
          @include dimensions(100%, 1.2em);
          .schedule-days {
            float: left;
            clear: right;
          }
          .schedule-time {
            float: right;
          }
        }
      }
    }
  }
}
