@import '../helpers/variables';
@import '../helpers/mixins';

.dropdown {
  @include dimensions(100%, 4em);
  background-color: oldlace;
  border: $simple-border;
  box-sizing: border-box;
  display: none;
  left: 0;
  position: relative;
  top: 0;
  z-index: 5;
  @include respond-to('max-width: 800px') {
    display: block;
  }

  .dropdown__burger {
    @include dimensions(2.5em, 1.5em);
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1.2em;
    z-index: 10;

    span {
      @include dimensions(100%, 3px);
      background-color: saddlebrown;
      display: block;
      position: absolute;
      transition: 0.5s;

      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: 0.65em;
      }

      &:last-child {
        bottom: 0;
      }
    }

    .span-one_active {
  		transform: rotate(40deg);
  		transform-origin: 9% 50%;
  	}

  	.span-two_active {
  		display: none !important;
  	}

  	.span-three_active {
  		transform: rotate(-40deg);
  		transform-origin: 9% 50%;
  	}
  }

  .dropdown__menu {
		@include dimensions(100%, auto);
		@include indentations(0, 4em 0 0 0);
    text-align: center;
		position: absolute;
		z-index: 5;

    .dropdown__menu-section {
      @include dimensions(100%, auto);
      @include indentations(0, 0);
      background-color: oldlace;

      .dropdown__menu-section-title {
        @include dimensions(100%, auto);
        @include indentations(0, 1em);
        border: $simple-border;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 1.1em;
        position: relative;
        text-decoration: none;

        span {
          color: $dark-brown;
          position: absolute;
          right: 2em;
        }
      }

      .dropdown__menu-section-links {
        @include indentations(0, 0);
        background-color: #fcf8ef;
        border: $simple-border;

        a {
          @include indentations(0, 0.8em);
          border: $simple-border;
          box-sizing: border-box;
          color: saddlebrown;
          font-size: 1.05em;
          text-decoration: none;
        }
      }
    }
	}
}
