@import '../helpers/variables';
@import '../helpers/mixins';

.header {
  @include dimensions(100%, auto);
  @include respond-to('max-width: 800px') {
    height: 8em;
    position: relative;
    top: 0;
    left: 0;
  }
}
