@import '../helpers/variables';
@import '../helpers/mixins';

.navbar {
  @include dimensions(100%, 3.3em);
  @include indentations(0 auto, 0);
  background: linear-gradient(to right, peachpuff, burlywood);
  display: block;
  position: relative;
  text-align: center;
  z-index: 5;
  @include respond-to('max-width: 800px') {
    display: none;
  }

  .section {
    @include dimensions(15em, auto);
    @include indentations(0, 0);
    display: inline-block;
    vertical-align: top;
    @include respond-to('max-width: 1220px') {
      width: 18.5%;
      &:nth-child(3) {
        width: 24%;
      }
    }
    @include respond-to('max-width: 1024px') {
      width: 18.3%;
    }

    .section-title {
      @include dimensions(100%, auto);
      @include indentations(0, 1.04em 0.3em);
      background-color: oldlace;
      border: $simple-border;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      position: relative;
      text-decoration: none;

      span {
        color: $dark-brown;
        position: absolute;
        right: 1.3em;
        @include respond-to('max-width: 1220px') {
          right: 1em;
        }
        @include respond-to('max-width: 1024px') {
          right: 0.5em;
        }
      }
    }

    .section-links {
      @include indentations(0, 0);
      background-color: #fcf8ef;
      border: $simple-border;

      a {
        @include indentations(0, 0.8em);
        border: $simple-border;
        box-sizing: border-box;
        color: saddlebrown;
        text-decoration: none;
      }
    }
  }
}
