@import '../helpers/variables';
@import '../helpers/mixins';

.events {
  @include respond-to('max-width: 640px') {
    @include indentations(0, 1em 0.5em);
  }
}

.past-events {
  .past-years-events {
    .table-title {
      cursor: pointer;
      margin: 1em auto 1.2em auto;
      text-align: center;
      width: 13em;
    }
  }
}
