@import '../helpers/variables';
@import '../helpers/mixins';

section {
  margin-bottom: 2em;

  h6 {
    @include indentations(1em 0, 0);
    font: {
      size: 1em;
      weight: normal;
    }
  }
}
