@import '../helpers/variables';
@import '../helpers/mixins';

section {
  margin-bottom: 2em;

  h3 {
    @include indentations(1em 0, 0);
    font-size: 1em;
  }

  h4 {
    font-size: 1.1em;
  }

  iframe {
    @include respond-to('max-width: 1024px') {
      width: 100%;
    }
  }

  .page-image.image-new-book {
    max-width: 25em;
  }
}
