@import '../helpers/variables';
@import '../helpers/mixins';

.new-news {
  margin-bottom: 2.5em;

  .news-date {
    font-size: 1em;
    margin: 0;
  }

  a {
    display: inline;
  }

  h4 {
    font-size: 1.1em;
  }

  iframe {
    @include respond-to('max-width: 1024px') {
      width: 100%;
    }
  }

  .page-image.image-new-book {
    max-width: 25em;
  }
}
