@import '../helpers/variables';
@import '../helpers/mixins';

.page {
  @include dimensions(65%, auto);
  @include indentations(1em auto 0 auto, 1em 2.2em 2em 2.2em);
  background-color: oldlace;
  box-sizing: border-box;
  min-height: 40em;
  position: relative;
  z-index: 1;
  @include respond-to('min-width: 1800px') {
    width: 70em;
  }
  @include respond-to('max-width: 1024px') {
    left: 0;
    margin: 1em;
    width: 75%;
  }
  @include respond-to('max-width: 800px') {
    @include indentations(1em auto 0 auto, 1.5em 1.5em 2.5em 1.5em);
    width: 100%;
  }
  @include respond-to('max-width: 640px') {
    margin-top: 0.5em;
    padding: 1.5em 1em;
  }

  p {
    text-align: justify;
  }

  .page-title {
    @include indentations(1em 0 1.5em 0, 0);
    text-align: center;

    @include respond-to('max-width: 640px') {
      font-size: 1.4em;
      margin-bottom: 1em;
    }
  }

  .page-image {
    @include dimensions(auto, auto);
    @include indentations(0.5em 0, 0);
    display: block;
    max-width: 100%;

    &:last-child {
      margin-bottom: 1em;
    }
  }
}
