@import '../helpers/variables';
@import '../helpers/mixins';

.page {
  @include dimensions(65%, auto);
  min-height: 40em;
  @include indentations(1em auto, 1em 2.2em);
  box-sizing: border-box;
  text-align: justify;
  background-color: oldlace;
  position: relative;
  z-index: 1;
  @include respond-to('min-width: 1800px') {
    width: 70em;
  }
  @include respond-to('max-width: 1024px') {
    width: 75%;
    margin: 1em;
    left: 0;
  }
  @include respond-to('max-width: 800px') {
    width: 100%;
    @include indentations(1em auto 3em auto, 1.5em);
  }
  @include respond-to('max-width: 640px') {
    margin-bottom: 3.5em;
    padding: 1.5em 1em;
  }

  .page__title {
    @include indentations(1em, 0);
    text-align: center;
  }

  .page__image {
    @include dimensions(auto, auto);
    max-width: 100%;
    @include indentations(0.5em 0, 0);
    display: block;

    &:last-child {
      margin-bottom: 1em;
    }
  }
}
