@import '../helpers/variables';
@import '../helpers/mixins';

.site-map {
  text-align: left;

  .section {
    @include dimensions(100%, auto);
    margin-bottom: 1em;
    @include respond-to('max-width: 800px') {
      margin-bottom: 1.5em;
    }

    .section-title {
      text-align: left;
      margin: 0.5em 0;
    }

    .section-links {
      @include indentations(0, 0 1.5em);
      @include respond-to('max-width: 640px') {
        padding: 0 1em;
      }

      a {
        line-height: 1.3;
      }
    }
  }
}
